.error {
    color: red;
}

.box-container {
    max-width: 65px;
    display: inline-block;
}

.row {
    float: left;
}

.box {
    width: 10px;
    height: 10px;
    border: 1px solid #333;
    float: left;
}

.arrow {
    float: left;
    width: 100%;
    height: 100%;
    line-height: .5em;
    text-align: center;
    background-color: #333;
    color: white;
}

.arrow::before {
    content: ">";
}