<div *ngFor="let item of combinedData">
  <span *ngFor="let dataItem of item.data; let i = index">
    {{dataItem}}
    <span *ngIf="i+1 < item.data.length"> > </span>
  </span>
  <span> | <strong>Report: </strong></span>
  <span *ngIf="item.currentPos">
    x: {{item.currentPos.x}}, y: {{item.currentPos.y}}, f: {{item.currentPos.f | degreeToDirection}}
    <span class="box-container">
    <span *ngFor="let row of [0,1,2,3,4]; let i = index" class="row">
        <span *ngFor="let col of [0,1,2,3,4]; let j = index"
        class="box" [ngStyle]="{transform: 'rotate(' + (item.currentPos.f - 90) + 'deg)'}">
        <span class="arrow" *ngIf="i === item.currentPos.x && j === item.currentPos.y"></span>
  </span>
  </span>
  </span>
  </span>
  <span class="error" *ngIf="!item.currentPos">Wrong position</span>

</div>