<p>
  <label for="data-entry">Add text here in json format</label>
</p>
<p>
  <textarea name="data-entry" id="data-entry" [ngModel]="data" (ngModelChange)="dataChanged($event)"></textarea>
</p>
<p *ngIf="errorMsg" class="error">{{errorMsg}}</p>